.active-link {
  text-decoration: none;
  color: #287dfe !important;
}

.spinner-cmp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: repeating-conic-gradient(
      #0000 0deg,
      #000 1deg 70deg,
      #0000 71deg 90deg
    ),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - 9px),
      #000 calc(100% - 8px)
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: s5 1s infinite;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
}

@keyframes s5 {
  to {
    transform: rotate(0.5turn);
  }
}
